ul.tree {
    margin: 0px;
    padding:0px;
}
ul.tree > li {
    border-bottom: 1px solid #7f8c8d;
}
ul.tree li {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul.tree > li { padding:5px; }

ul.tree li:hover {
    background-color: #ecf0f1;
}
ul.tree li:hover > a {
    text-decoration: underline;
}

ul.tree li a, ul.tree li a:hover {
    color:#2c3e50;
    text-decoration: none;
}

ul.tree li a .expander {
    margin-right: 5px;
}

#mainContent .pages_edit_placeholders {
    padding-left:10px;
    padding-right: 10px;
    margin-top: 10px;
}

#mainContent .pages_edit_placeholders .iAmSortable {
    min-height: 10px;
}
#mainContent .pages_edit_placeholders a * {
    cursor:pointer;
}
#mainContent .pages_edit_placeholders a.list-group-item.active,
#mainContent .pages_edit_placeholders a.list-group-item.active:hover,
#mainContent .pages_edit_placeholders a.list-group-item.active:focus {
    background-color: #ecf0f1;
    border: 1px solid #ddd;
    color: #7f8c8d;
    font-weight: normal;
}

#DashboardModal form.save { margin: 0px; }