body, html { height: 100%; font-family: 'Open Sans', sans-serif; }
.fill { height:100%; }
div.shadow-left {
	-moz-box-shadow: 3px 3px 12px #444;
	-webkit-box-shadow: 3px 3px 12px #444;
	box-shadow: 3px 3px 12px #444;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=12, Direction=135, Color='#444444')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=12, Direction=135, Color='#444444');
}
div.no-padding-left {
	padding-left: 0px;
}

#sidePanel {
	background-color:#34495e;
}
.heading {
	background-color: #ecf0f1;
	min-height: 75px;
	border-bottom: 1px solid #bdc3c7;
}
.heading h2 {
	margin: 0px;
	padding: 0px 0px 0px 10px;
	font-size: 32px;
	line-height: 75px;
	color: #7f8c8d;
}
#mainSideBar {
	display: none;
	position: relative;
}

#mainContent {
	width: 100%;
}

#mainContent .subline {
	background-color: #2980b9;
	color:#fff;
	padding: 5px 5px 5px 10px;
	border-bottom: 1px solid #95a5a6;
}